* {
    font-family:sans-serif;
}

.container{
    background-color: rgb(235, 230, 230);
    width: 800px;
    margin: 0px auto;
    padding: 20px;
    text-align: center;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
}

.one, .two, .three{
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin: 20px;
    padding: 20px;
}

img.octocat {
    height: 200px;
}

.pink{
    background-color: lightpink;
    justify-content: center;
}

.blue{
    background-color: aqua;
}